<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >

    <test name="AmazonCa">
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="com.amazon.testcases.AmazonHomePageAfterSigninTest"/>
        </classes>
    </test> <!-- Test -->


</suite>